extends layout

block head
    script(src="/javascripts/socket.io-1.4.5.js")
    script(src="/frontend_libs/jquery/dist/jquery.js")
    script(src="/javascripts/client.js")

block content
    ul(id="messages")
    p(class="hint")
    form(action="")
        input(id="m" autocomplete="off")
        button(class="send") Send
        button(class="quit") Quit
